{% load search_extras %}
{% block content %} 
    <form method="POST">
        {% csrf_token %}

        <label for="ID">ID</label><br>
        <input type="text" id="ID" name="ID" value={{ entity |get_value_from_dict:"ID"}}><br>

        <label for="Above_Ground">Above Ground</label><br>
        <input type="text" id="Above_Ground" name="Above_Ground" value={{ entity |get_value_from_dict:"Above_Ground"}}><br>

        <label for="Specific_Location">Specific Location</label><br>
        <input type="text" id="Specific_Location" name="Specific_Location" value={{ entity |get_value_from_dict:"Specific_Location"}}><br>

        <label for="Running">Running</label><br>
        <input type="text" id="Running" name="Running" value={{ entity |get_value_from_dict:"Running"}}><br>

        <label for="Chaseing">Chasing</label><br>
        <input type="text" id="Chasing" name="Chasing" value={{ entity |get_value_from_dict:"Chasing"}}><br>

        <label for="Climbing">Climbing</label><br>
        <input type="text" id="Climbing" name="Climbing" value={{ entity |get_value_from_dict:"Climbing"}}><br>

        <label for="Eating">Eating</label><br>
        <input type="text" id="Eating" name="Eating" value={{ entity |get_value_from_dict:"Eating"}}><br>

        <label for="Foraging">Foraging</label><br>
        <input type="text" id="Foraging" name="Foraging" value={{ entity |get_value_from_dict:"Foraging"}}><br>

        <label for="Kuks">Kuks</label><br>
        <input type="text" id="Kuks" name="Kuks" value={{ entity |get_value_from_dict:"Kuks"}}><br>

        <label for="Quaas">Quaas</label><br>
        <input type="text" id="Quaas" name="Quaas" value={{ entity |get_value_from_dict:"Quaas"}}><br>

        <label for="Moans">Moans</label><br>
        <input type="text" id="Moans" name="Moans" value={{ entity |get_value_from_dict:"Moans"}}><br>

        <label for="Tail_Flags">Tail Flags</label><br>
        <input type="text" id="Tail_Flags" name="Tail_Flags" value={{ entity |get_value_from_dict:"Tail_Flags"}}><br>

        <label for="Tail_Twitch">Tail Twitch</label><br>
        <input type="text" id="Tail_Twitch" name="Tail_Twitch" value={{ entity |get_value_from_dict:"Tail_Twitch"}}><br>

        <label for="Approach">Approach</label><br>
        <input type="text" id="Approach" name="Approach" value={{ entity |get_value_from_dict:"Approach"}}><br>

        <label for="Runs_Away">Runs Away</label><br>
        <input type="text" id="Runs_Away" name="Runs_Away" value={{ entity |get_value_from_dict:"Runs_Away"}}><br>

        <label for="Indifferent">Indifferent</label><br>
        <input type="text" id="Indifferent" name="Indifferent" value={{ entity |get_value_from_dict:"Indifferent"}}><br>

        <label for="Hectare">Hectare</label><br>
        <input type="text" id="Hectare" name="Hectare" value={{ entity |get_value_from_dict:"Hectare"}}><br>

        <label for="Date">Date</label><br>
        <input type="text" id="Date" name="Date" value={{ entity |get_value_from_dict:"Date"}} readonly="readonly"><br>

        <label for="Shift">Shift</label><br>
        <input type="text" id="Shift" name="Shift" value={{ entity |get_value_from_dict:"Shift"}}><br>

        <label for="Age">Age</label><br>
        <input type="text" id="Age" name="Age" value={{ entity |get_value_from_dict:"Age"}}><br>

        <label for="Primary_Color">Primary Color</label><br>
        <input type="text" id="Primary_Color" name="Primary_Color" value={{ entity |get_value_from_dict:"Primary_Color"}}><br>

        <label for="Highlight_Color">Highlight Color</label><br>
        <input type="text" id="Highlight_Color" name="Highlight_Color" value={{ entity |get_value_from_dict:"Highlight_Color"}}><br>

        <label for="Special_Notes">Special Notes</label><br>
        <input type="text" id="Special_Notes" name="Special_Notes" value={{ entity |get_value_from_dict:"Special_Notes"}}><br>
        
        <input type="submit" value="Submit">
    </form>
{% endblock %}   